<h3><a href="/employee"><i></i>Create New</a> Employee List</h3>
<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i aria-hidden="true">Edit</i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete it?');"><i aria-hidden="true">Delete</i></a>
            </td>
        </tr>
        {{/each }}
    </tbody>
</table>